<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" style="font-weight: bold; font-size: 18px;" id="modal-basic-title">Add a Timelog</h4>
        <button style="outline: none;" type="button" class="close" aria-label="Close"
            (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>


    <div class="modal-body" style="margin: 25px;">
        <form #form='ngForm'>
            <div class="form-row">
                <div class="form-group col-md-12">

                    <label for="task">Task</label>
                    <select class="form-control" name='task' [(ngModel)]='task.id' required>
                        <option *ngFor="let task of tasks" [value]="task.id" required>{{task.name}} - {{task.project.name}}
                        </option>
                    </select>

                </div>

            </div>
            <div class="form-row">
                <div class="form-group col-md-4 ">

                    <label for="startTime">Start Time</label>
                    <ngb-timepicker name='startTime' [(ngModel)]="startTime" required></ngb-timepicker>

                    <h5 style="color: red;">{{timeErrors}}</h5>

                </div>
                <div class="form-group col-md-4">

                    <label for="endTime">End Time</label>
                    <ngb-timepicker name='endTime' [(ngModel)]="endTime" required></ngb-timepicker>


                </div>
                <div class="form-group col-md-4">

                    <label for="startTime" style="margin-right: 15px;">Day</label>
                    <button class="btn btn-sm btn-outline-primary mr-2" (click)="selectToday()">Select Today</button>


                    <ngb-datepicker #dp [(ngModel)]="date" name='date' (navigate)="date = $event.next" required></ngb-datepicker>

                </div>


            </div>
            <div class="form-group ">
                <div class="row justify-content-end">
                    <button [disabled]='!form.valid' class="btn" (click)='onConfirm()' style="background-color: rgb(47, 116, 143);color: white;">
                        Confirm</button>
                        
                </div>
            </div>

            </form>


    </div>




</ng-template>

<!-- Button trigger new timelog modal -->
<button class="btn" (click)='open(content)' style="background-color: rgb(81, 145, 170); color: white;">Manual
    Add</button>