<div id="passowrd">
  <div class="container">
      <div id="passowrd-row" class="row justify-content-center align-items-center">
          <div id="passowrd-column" class="col-md-6">
              <div id="passowrd-box" class="col-md-12">
                  <form id="passowrd-form" class="form" #form="ngForm" (ngSubmit)='onChangePassowrd()'>
                      <h3 class="text-center info">Change Password</h3>

                      <div class="form-group">
                          <label for="password" class="info"  >Old Password:</label><br>
                          <input type="password" name="password" id="password" class="form-control"  [(ngModel)]='password' required>

                      </div>
                      <div class="form-group">
                        <label for="password" class="info"  >New Password:</label><br>
                        <input  type="password" name="password" id="password" class="form-control" [(ngModel)]='newPassword' required minlength=6>
                        <li *ngIf='passwordError' style="color: red;"> {{passwordError}}</li>
                      </div>
                      <div class="form-group">
                          <label for="password" class="info">Confirm New Password:</label><br>
                          <input type="password" name="password" id="password" class="form-control" [(ngModel)]='newPassword2' required>
                      </div>
                      <li *ngIf='authError' style="color: red;"> {{authError}}</li>

                      <div class="form-group ">
                          <input [disabled]='!form.valid' id="button" type="submit" name="submit" class="btn btn-info btn-lg" value="Submit">
                      </div>

                  </form>
              </div>
          </div>
      </div>
  </div>
</div>
