#delete{

    margin-right: 5%;
    background-color: green;
    
}

td {
    font-weight: 500;
}

#addButton {
    margin-left: 10% ;
    background-color:  rgb(104, 156, 177);;
}

#header {
        background-color: rgb(104, 100, 100);
        color: white;
}

table {
    text-align: center;
}

th{
    font-size: 16px;
    font-weight: normal;
}

